@import '~@angular/material/theming';


// Primary (blue)
$mat-primary: (
  50: #E7E9FB,
  100: #C3C8F4,
  200: #99A4ED,
  300: #6C81E6,
  400: #4664E0,
  500: #0548D9,
  600: #0040CE,
  700: #0035C2,
  800: #002AB7,
  900: #0012A5,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  )
);
// Accent (Green)
$mat-accent: (
  50: #E0F9ED,
  100: #B3EFD3,
  200: #7AE4B7,
  300: #05D999,
  400: #00CF82,
  500: #00C46C,
  600: #00B461,
  700: #00A153,
  800: #008F47,
  900: #006F31,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  )
);

$mat-surface: (
  100: #fafafa,
  400: #f0f0f0,
  900: #c0c0c0,
  contrast: (
    100: $dark-primary-text,
    400: $dark-primary-text,
    900: $dark-primary-text,
  )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// * Call the mat-palette($color, $default-variant, $light-variant, $dark-variant);
// * EX:
// * 
// * background-color: mat-color($app-primary, 900);
// * 
// * Whereas $app-primary is a color pallete, and 900 is the variant. 
// * Without a variant assigned, the default is the default-variant.

$app-primary:  mat-palette($mat-primary, 500, 100, 900); // Pinnacol (brand) Blue
$app-accent:  mat-palette($mat-accent, 300, 100, 500); // Lt Blue
$app-surface:  mat-palette($mat-surface, 400, 100, 900); // Lt gray

// // Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent);

// App vars
$primary : mat-color($app-primary, 500);
$accent : mat-color($app-accent, 300);


// // SURFACE
$surface-10 : mat-color($app-surface, 100);
$surface-40 : mat-color($app-surface, 400);
$surface-90 : mat-color($app-surface, 900);



